body {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: left;
}

th, td {
  padding: 1px 5px;
  line-height: 1.5;
}

th {
  background-color: lightblue;
  text-align: center;
}

button {
  margin-top: 10px;
  border-radius: 0;
  border: none;
  height: 30px;
  width: 70px;
  font-size: medium;
}